.font-face-gm {
  font-family: "Roboto";
}

.App {  
  /* background-color: rgba(255, 255, 0, 0.856); */
  color: black;  
}

.app-title {  
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 50px;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.row {
  display: grid;  
  grid-template-columns: 50% 50%;
  height: 200px;
}

.script-button-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.column {
  border: 1px dotted black;
  margin-left: 10px;
  margin-right: 10px;  
}

form, .server-response {
  padding: 2px;
}

.server-response {
  color: green;
  font-weight: 600;
  padding-top: 15px;
}

.info-icon {
  width: 20px;
  height: 20px;    
}

.ui-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;  
}

.ui-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin-top: 20px;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.form-field {
  padding: 2px !important;
}

.ui-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #020202;
  margin: 0 0.3em 0.3em 0;
  border-radius: .42em;
  box-sizing: border-box;  
  background-color: black;
  color: white;
}

