.font-face-gm {
  font-family: "Roboto";
}

.font-face-gm1 {
  font-family: "Rubik";
}

.font-face-gm2 {
  font-family: "Josefin";
}

.App {  
  background-color: rgba(255, 255, 0, 0.856);
  color: black;
}


.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.field-row {
  display: grid;
  grid-template-columns: auto auto;
  
}

.row {
  display: grid;  
  grid-template-columns: auto auto;  
  padding-top: 10px;
}

.column-left {  
  margin-left: 10px; 
}

.column-right {
  margin-right: 10px;
}

.server-response {
  color: green;
  font-weight: 600;
  padding-top: 15px;
}

.ui-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  /* border: 0.1em solid #020202; */
  margin: 0 0.3em 0.3em 0;
  border-radius: .42em;
  box-sizing: border-box;  
  background-color: rgb(56, 55, 55);
  color: white;
  width: 120px;
}

.info-icon {
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-left: 2px;  
  background-color: black;
  color:rgba(255, 255, 0, 0.856)
}

