:root {
	--main-bg-color: rgb(49, 49, 49);
	--highlight-color: rgb(74, 242, 228);
	--success-color: rgb(87, 255, 104);
	--error-color: rgb(255, 136, 136);
	--fira-sans: 'Fira Sans', sans-serif;
	--dm-sans: 'DM Sans', sans-serif;
}

.App {
	margin: 15px 0px 15px 0;
	padding: 15px;
	background-color: var(--main-bg-color);
}

.app-container {
	display: flex;
	flex-direction: row;
	color: white;
}

.app-container-column {
	margin-right: 55px;
}

@media (max-width: 1200px) {
	.app-container {
		flex-direction: column;
	}
}

.app-title {
	font-family: var(--fira-sans);
	font-weight: 600;
	font-size: 40px;
	color: white;
	padding-bottom: 20px;
}

.app-form-title {
	font-family: var(--fira-sans);
	color: var(--highlight-color);
	font-size: 20px;
	padding: 15px 0 20px 0;
}

.app-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 0px 20px 0px;
}

.update-prefs-button {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 6px;
}

.form-field {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.button-row {
	display: flex;
	justify-content: space-between;
}

label {
	font-family: var(--fira-sans);
	color: white;
	font-size: 16px;
	min-width: 200px;
}

.button-row button {
	flex: 1;
	margin: 0 5px;
	margin-top: 20px;
}

input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid white;
	background-color: rgb(49, 49, 49);
	color: white;
	font-size: 14px;
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: rgb(49, 49, 49);
	color: white;
	font-size: 16px;
	cursor: pointer;
	border: 2px solid rgb(74, 242, 228);
}

button:hover {
	background-color: var(--highlight-color);;
	color: black;
}

.toggle-field {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

/* App.css */
.disabled-label {
	color: #aaa;
}

.obs-prefs-element {
	margin-top: 15px;
}

.report-prefs-element {
	margin-top: 15px;
}

.interval-prefs-element {
	margin-top: 20px;
}

.question-icon,
.active-icon {
	display: inline-block;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	margin-left: 10px;
	font-family: var(--fira-sans);
	cursor: pointer;
}

.question-icon {
	background-color: rgb(49, 49, 49);
	color: white;
}

.active-icon {
	background-color: var(--highlight-color);;
	color: rgb(49, 49, 49);
}

.info-tooltip {
	color: white;
	background-color: rgb(49, 49, 49);
	font-family: var(--fira-sans);
	margin-top: 5px;
}

.bot-control-button {
	margin-right: 30px;
}

.session-info {
	margin-top: 30px;
	color: rgb(240, 253, 155);
}

.session-info-status {
	margin-left: 15px;
	color: rgb(253, 157, 155);
}

.session-info-label {
	font-family: var(--fira-sans);
	margin: 15px 0px 15px 0px;
}

.info-tooltip a:visited {
	color: var(--highlight-color);;
}

.toggle-field {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.toggle-field label {
	margin-left: 10px;
	flex: 1;
}

.disabled-label {
	color: #888;
	pointer-events: none;
}

.message-panel {
	height: 100px;
}

.success-message {
	color: var(--success-color);
	font-family: var(--dm-sans);
	font-size: 20px;
}

.error-message {
	color: var(--error-color);
	font-family: var(--dm-sans);
	font-size: 20px;
}

.app-info-panel {
	font-family: var(--fira-sans);
	position: relative;
	margin-top: 15px;
}

a,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
}

input {
	font-family: var(--dm-sans);
}

input[type='checkbox'] {
	-webkit-appearance: none;
	width: 35px;
	height: 18px;
	border-radius: 9px;
	background-color: #2b2b2b;
	position: relative;
	outline: none;
	cursor: pointer;
	flex-shrink: 0;
}

input[type='checkbox']:before {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: 0.3s;
}

input[type='checkbox']:checked:before {
	left: 12px;
}

.hide-sensitive-toggle {
	margin-left: 50px;
	margin-top: 30px;
}

.toggle-text-label-color {
	color: var(--highlight-color);
}


