@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url("../src/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
   url("../src/fonts/rubik/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Josefin";
  src: local("Josefin"),
   url("../src/fonts/josefin/JosefinSans-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Fira-Sans";
  src: local("Fira-Sans"),
   url("../src/fonts/fira_sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Signika";
  src: local("Signika"),
   url("../src/fonts/signika_negative/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Source-Sans";
  src: local("Source-Sans"),
   url("../src/fonts/source_sans_pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: bold;
  }