@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url("../src/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
   url("../src/fonts/rubik/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "Josefin";
  src: local("Josefin"),
   url("../src/fonts/josefin/JosefinSans-Regular.ttf") format("truetype");
  font-weight: bold;
  }