body {
	-webkit-app-region: drag;
	/* Prevent window scrollbars */
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;	
}

button,
input,
span,
a {
	-webkit-app-region: no-drag;
}

/* Ensure the right report panel is never draggable (prevents window drag on scrollbar) */
/* .report-panel-right {
	-webkit-app-region: no-drag !important;
} */

/* For Chrome, Edge, and Electron (Webkit browsers) */
::-webkit-scrollbar {
	width: 10px;
	background: #222; /* Track color */
}

::-webkit-scrollbar-thumb {
	background: #555; /* Thumb color */
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;
}

/* Optional: for horizontal scrollbars */
::-webkit-scrollbar-horizontal {
	height: 8px;
}
