:root {
	--main-bg-color: rgb(49, 49, 49);
	--main-text-color: #fff;
	--highlight-color: rgb(74, 242, 228);
	--success-color: rgb(87, 255, 104);
	--error-color: rgb(226, 115, 115);
	--session-info-label-color: rgb(240, 253, 155);
	--update-color: rgb(36, 102, 97);
	--session-info-status-color: rgb(253, 157, 155);
	--disabled-color: #aaa;
	--fira-sans: 'Fira Sans', sans-serif;
	--dm-sans: 'DM Sans', sans-serif;
}

.muted-input {
	color: var(--disabled-color);
}

.button-modified {
	background-color: var(--update-color);
	color: white;
}

.creds-panel .app-form-title {
	padding: 10px 0 6px;
}

.creds-panel .app-form {
	padding: 12px 0 0;
}

.creds-panel .form-field {
	margin-bottom: 8px;
}

.creds-panel .button-row button {
	margin-top: 12px;
}

.hide-sensitive-toggle {
	margin-left: 18px;
	margin-top: 12px;
}

.toggle-text-label-color {
	color: var(--highlight-color);
}

.sensitive-fields-text {
	padding-left: 5px;
}
