:root {
	--main-bg-color: rgb(49, 49, 49);
	--main-text-color: #fff;
	--highlight-color: rgb(74, 242, 228);
	--success-color: rgb(87, 255, 104);
	--error-color: rgb(226, 115, 115);
	--session-info-label-color: rgb(240, 253, 155);
	--update-color: rgb(36, 102, 97);
	--session-info-status-color: rgb(253, 157, 155);
	--disabled-color: #aaa;
	--fira-sans: 'Fira Sans', sans-serif;
	--dm-sans: 'DM Sans', sans-serif;
}

.spotify-prefs-element {
	margin-top: 10px;
}

.disabled-toggle {
	background-color: var(--disabled-color);
	cursor: not-allowed;
}

.disabled-toggle:before {
	background-color: #666 !important;
}

.disabled-label {
	color: var(--disabled-color);
	pointer-events: none;
	margin-left: 5px;
}

.greyed-out-label {
	color: var(--disabled-color);
	margin-left: 5px;
}

.obs-prefs-element {
	margin-top: 10px;
}

.pref-input {
	width: 80px;
}

.interval-prefs-element {
	margin-top: 6px;
}
