:root {
	--main-bg-color: rgb(49, 49, 49);
	--main-text-color: #fff;
	--highlight-color: rgb(74, 242, 228);
	--success-color: rgb(87, 255, 104);
	--error-color: rgb(238, 85, 85);
	--session-info-label-color: rgb(240, 253, 155);
	--session-info-status-color: rgb(253, 157, 155);
	--disabled-color: #aaa;
	--fira-sans: 'Fira Sans', sans-serif;
	--dm-sans: 'DM Sans', sans-serif;
}

.report-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 15px;
	font-family: var(--fira-sans);
	color: var(--highlight-color);
}

.report-subtitle {
	font-family: var(--fira-sans);
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.report-close-button {
	margin-top: 5px;
	width: 15%;
	margin-left: 10px;
}

.report-panel {
	display: flex;
	justify-content: space-between;
	font-family: var(--fira-sans);	
	flex-grow: 1;	
}

.report-dj-name {
	color: var(--main-text-color);
}

.report-panel-left,
.report-panel-right {
	flex: 1; /* Take up equal available width */
	text-align: left; /* Ensure left alignment */
	padding: 0px 10px;
}

.report-panel-right {
	margin-top: 15px;
}

.report-panel-item {
	margin-top: 10px;
	/* color: var(--session-info-label-color); */
	font-size: 1.2em;
}

.foo {
	color: var(--session-info-label-color)
}

.report-panel-item-header {
	margin-top: 5px;
	margin-bottom: 10px;
	color: var(--highlight-color);
	font-weight: 500;
	font-size: 1.2em;
}

.report-panel-item-span {
	color: var(--main-text-color);
	font-weight: 500;
	margin-top: 10px;	
	font-size: 1em;
}

.report-panel-item-detail {
	margin-top: 10px;
	font-size: 1em;
	font-weight: 400;
}

.report-panel-item-detail-caption {
	font-size: 0.8em;
	margin-top: 5px;
	font-weight: 400;
	color: var(--session-info-label-color);
}

.doubles-text {
	margin-top: 10px;
	font-size: 1em;
	font-weight: 400;
}

.doubles-length {
	color: var(--session-info-label-color);
	font-weight: 600;
	font-size: 1em;
	margin-left: 5px;
}

/* .hr {
	margin-top: 15px;
} */

.report-panel-item-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.report-panel-item,
.report-panel-item-span {
	flex: 1;
	text-align: left;
}

.report-panel-group {
	margin-bottom: 15px;	
}

.report-panel-group-left {
	margin: 20px 0px;
}
