.app-title {  
  display: flex;  
  align-items: center;    
  border-bottom: 5px outset #ffff00da;
  margin-left: 10px;
  margin-right: 10px;
}

.title-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-box h3, h6 {  
  margin: 0;
}

